header {
    background-color: #242630;
    padding: 1rem 0.8rem;

    p {
        color: white;
        padding-left: 0.5rem;
        padding-top: 1rem;
        font-size: 10px;
        color: rgb(130, 128, 128);
    }
    a {
        text-decoration: none;
        color: #c9c9d1;
        padding: 0 1rem;
    }

    .bi {
        color: #c9c9d1;
        padding: 0 1rem;
        font-size: 1.5rem;
    }


}

main {
    background-color: #1a1a22;
    padding: 2rem 0;

    img {width: 4rem; }
    h1 {color: #c9c9d1; padding: 1rem 0;}

    .btn-main {
        color: rgb(73, 72, 72);
        background-color: #59c4dc;
        border-radius: 2rem;
        font-weight: 600;
        padding: 0.4rem 1rem;
    }

    .btn-main:hover {background-color: #ded840; color: black;}
}

footer {
    background-color: #18181e;
    
    .ul-footer {
        padding-right: 2rem;
        color: #c9c9d1;
        
        h2 {font-size: 16px;}

        ul { padding-left: 0;}
       
    }
    
    
    .list-footer {
        list-style: none;

        a {
            color: #c9c9d1;
            text-decoration: none;
            font-size: 10px;
        }
    }
}
